@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
}
.corpo{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 30%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    padding: 2.5%;
}
div h1{
    font-size: 2.4rem;
}
img{
    width: 20%;
}
.botao{
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
}
.botao:hover{
    cursor: pointer;
    background-color: hsl(4, 100%, 67%);
}
@media (max-width: 768px) {
    body{
        background-color: white;
    }
    .corpo{
        justify-content: center;      
        min-height: 100vh;
        margin: auto;
        width: 90%;
    }
    .divBotao{
        height: 50%;
    }
}